<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"> 

  <title>ETour</title>
  <meta name="keywords" content="">
  <meta name="description"
        content="">

  <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <![endif]-->

  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500">
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="" />
  <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="public/css/page/top.css">
  <link rel="stylesheet" href="public/css/slick/slick.min.css">
</head>
<body>
<header class="header">
  <div class="container">
    <div class="inner">
      <div class="logo"><img src="public/images/common/logo.png" alt="logo"></div>
      <div class="header-area">
        <div class="notification">
          <img src="public/images/common/ic_notification.png" alt="notification">
          <div class="notice-num">2</div>
        </div>
        <div class="qa"><img src="public/images/common/ic_qa.png" alt=""></div>
        <div class="favorite">
          <img src="public/images/common/ic_heart.png" alt="">
          <div class="notice-num">4</div>
        </div>        
      </div>
      <div class="nav_icon">
        <div></div>
      </div>
      <div class="menu-nav">
        <ul class="nav">
          <li><a href="#">Vé máy bay trong nước</a></li>
          <li><a href="#">Khách sạn trong nước</a></li>
          <li><a href="#">Vé máy bay quốc tế</a></li>
          <li><a href="#">Khách sạn quốc tế</a></li>
          <li><a href="#">Tour giá rẻ</a></li>
          <li><a href="#">Tour được yêu thích nhất</a></li>            
        </ul>
      </div>
    </div>
  </div>
</header><!-- /#header -->

<main id="main">
  <section class="section main-visual">
    <div class="container">
      <div class="mv-slick">
        <div><img src="public/images/top/mv01.jpg" alt=""></div>
        <div><img src="public/images/top/mv01.jpg" alt=""></div>
        <div><img src="public/images/top/mv01.jpg" alt=""></div>
      </div>
    </div>
  </section>
  <section class="section section-search">
    <div class="container">
      <div class="etour-search">
        <h2 class="ttl-com">Nơi nào là nơi mà bạn muốn <span>du lịch đến?</span></h2>
        <div class="search-type">
          <!-- Nav tabs -->
          <ul class="nav search-type-tab-list">
            <li class="nav-item search-type-tab-list-item">
              <a class="dom-air active" data-toggle="tab" href="#tabSearchDomAir">
                <div class="inner">
                  <div class="icon"><img src="public/images/common/ic_dom_flight.png" alt=""></div>
                  <p>Vé máy bay trong nước</p>
                </div>
              </a>
            </li>
            <li class="nav-item search-type-tab-list-item">
              <a class="dom-hotel" data-toggle="tab" href="#tabSearchDomHotel">
                <div class="inner">
                  <div class="icon"><img src="public/images/common/ic_dom_hotel.png" alt=""></div>
                  <p>Khách sạn trong nước</p>
                </div>
              </a>
            </li>
            <li class="nav-item search-type-tab-list-item">
              <a class="oversea-air" data-toggle="tab" href="#tabSearchOverseaAir">
                <div class="inner">
                  <div class="icon"><img src="public/images/common/ic_oversea_flight.png" alt=""></div>
                  <p>Vé máy bay quốc tế</p>
                </div>
              </a>
            </li>
            <li class="nav-item search-type-tab-list-item">
              <a class="oversea-hotel" data-toggle="tab" href="#tabSearchOverseaHotel">
                <div class="inner">
                  <div class="icon"><img src="public/images/common/ic_oversea_hotel.png" alt=""></div>
                  <p>Khách sạn quốc tế</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="tabSearchDomAir" class="tab-pane active">
            <div class="content">
              <form action="">
                <div class="etour-search-form dom-air">
                  <div class="form-group"><input type="text" class="input icon-has departure" placeholder="Điểm khởi hành"></div>
                  <div class="form-group"><input type="text" class="input icon-has arrival" placeholder="Điểm đến"></div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has dep-date" placeholder="Ngày đi">
                    </div>
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has arr-date" placeholder="Ngày về">
                    </div>
                  </div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has passengers" placeholder="Số hành khách">
                    </div>
                    <div class="form-group w50 p10">
                      <select class="input icon-has seat-type">
                        <option selected>Hạng mức ghế</option>
                        <option>hà Nội (HAN)</option>
                      </select>
                    </div>
                  </div>
                  <button class="etour-btn">Tìm chuyến bay</button>
                </div>
              </form>
            </div>
          </div>
          <div id="tabSearchDomHotel" class="tab-pane fade">
            <div class="content">
              <form action="">
                <div class="etour-search-form dom-hotel">
                  <div class="form-group"><input type="text" class="input icon-has departure" placeholder="Điểm khởi hành"></div>
                  <div class="form-group"><input type="text" class="input icon-has arrival" placeholder="Điểm đến"></div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has dep-date" placeholder="Ngày đi">
                    </div>
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has arr-date" placeholder="Ngày về">
                    </div>
                  </div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has passengers" placeholder="Số hành khách">
                    </div>
                    <div class="form-group w50 p10">
                      <select class="input icon-has seat-type">
                        <option selected>Hạng mức ghế</option>
                        <option>hà Nội (HAN)</option>
                      </select>
                    </div>
                  </div>
                  <button class="etour-btn">Tìm khách sạn</button>
                </div>
              </form>
            </div>
          </div>
          <div id="tabSearchOverseaAir" class="tab-pane fade">
            <div class="content">
              <form action="">
                <div class="etour-search-form oversea-air">
                  <div class="form-group"><input type="text" class="input icon-has departure" placeholder="Điểm khởi hành"></div>
                  <div class="form-group"><input type="text" class="input icon-has arrival" placeholder="Điểm đến"></div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has dep-date" placeholder="Ngày đi">
                    </div>
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has arr-date" placeholder="Ngày về">
                    </div>
                  </div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has passengers" placeholder="Số hành khách">
                    </div>
                    <div class="form-group w50 p10">
                      <select class="input icon-has seat-type">
                        <option selected>Hạng mức ghế</option>
                        <option>hà Nội (HAN)</option>
                      </select>
                    </div>
                  </div>
                  <button class="etour-btn">Tìm chuyến bay</button>
                </div>
              </form>
            </div>
          </div>
          <div id="tabSearchOverseaHotel" class="tab-pane fade">
            <div class="content">
              <form action="">
                <div class="etour-search-form oversea-hotel">
                  <div class="form-group"><input type="text" class="input icon-has departure" placeholder="Điểm khởi hành"></div>
                  <div class="form-group"><input type="text" class="input icon-has arrival" placeholder="Điểm đến"></div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has dep-date" placeholder="Ngày đi">
                    </div>
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has arr-date" placeholder="Ngày về">
                    </div>
                  </div>
                  <div class="etour-row">
                    <div class="form-group w50 p10">
                      <input type="text" class="input icon-has passengers" placeholder="Số hành khách">
                    </div>
                    <div class="form-group w50 p10">
                      <select class="input icon-has seat-type">
                        <option selected>Hạng mức ghế</option>
                        <option>hà Nội (HAN)</option>
                      </select>
                    </div>
                  </div>
                  <button class="etour-btn">Tìm khách sạn</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- .section-search -->
  <section class="section section-supplier">
    <div class="container">
      <div class="supplier">
        <h2 class="ttl-com">Đặt vé trên <span>50 trang liên kết</span> giá rẻ</h2>
        <ul class="supplier-list supplier-slider">
          <li class="supplier-list-item">
            <div class="box">
              <p class="thumb"><img src="public/images/common/logo_traveloka.png" alt=""></p>
              <p class="des">
                Trải nghiệm đặt chỗ đơn giản & dễ dàng
              </p>
            </div>
          </li>
          <li class="supplier-list-item">
            <div class="box">
              <p class="thumb"><img src="public/images/common/logo_atadi.png" alt=""></p>
              <p class="des">
                Vé máy bay giá rẻ - Nhanh nhất - Thuận tiện
              </p>
            </div>
          </li>
          <li class="supplier-list-item">
            <div class="box">
              <p class="thumb"><img src="public/images/common/logo_traveloka.png" alt=""></p>
              <p class="des">
                Trải nghiệm đặt chỗ đơn giản & dễ dàng
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section><!-- .section-supplier -->
  <section class="section section-cheap-flight">
    <div class="container">
      <div class="cheap-flight">
        <h2 class="ttl-com">Các chuyến bay <span>giá rẻ được yêu thích</span></h2>
        <div class="content">
          <div class="search">
            <div class="etour-row">
              <div class="form-group w50 p10">
                <label>Tháng</label>
                <input class="input icon-has dep-date" type="datetime"/>
              </div>
              <div class="form-group w50 p10">
                <label>Điểm xuất phát</label>
                <select class="input icon-without departure">
                  <option selected>TPHCM (SGN)</option>
                  <option>hà Nội (HAN)</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Nav tabs -->
          <ul class="nav cheap-flight-tab-list">
            <li class="nav-item cheap-flight-tab-list-item">
              <a class="nav-link active" data-toggle="tab" href="#tabDomAir"><span>Vé máy bay<br class="sp_only"> quốc tế</span></a>
            </li>
            <li class="nav-item cheap-flight-tab-list-item">
              <a class="nav-link" data-toggle="tab" href="#tabOverseaAir"><span>Vé máy bay<br class="sp_only"> trong nước</span></a>
            </li>
            <li class="nav-item cheap-flight-tab-list-item">
              <a class="nav-link" data-toggle="tab" href="#tabDomHotel"><span>Khách sạn<br class="sp_only"> quốc tế</span></a>
            </li>
            <li class="nav-item cheap-flight-tab-list-item">
              <a class="nav-link" data-toggle="tab" href="#tabOverseaHotel"><span>Khách sạn<br class="sp_only"> trong nước</span></a>
            </li>
          </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="tabDomAir" class="tab-pane active">
              <div class="inner">
                <div class="cheap-flight-slider">
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>                                    
                </div>
              </div>
            </div>
            <div id="tabOverseaAir" class="tab-pane fade">
              <div class="inner">
                <div class="cheap-flight-slider">
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>                                    
                </div>
              </div>
            </div>
            <div id="tabDomHotel" class="tab-pane fade">
              <div class="inner">
                <div class="cheap-flight-slider">
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>                                    
                </div>
              </div>
            </div>
            <div id="tabOverseaHotel" class="tab-pane fade">
              <div class="inner">
                <div class="cheap-flight-slider">
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="cheap-flight-slider-item">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hồng Kông (HKG)</p></div>
                              <div class="duration"><p>03 ngày, 02 đêm</p></div>
                            </div>                        
                            <div class="price"><p>2.140.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Thái Lan (BKK)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>930.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Singapore (SIN)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                          <td>
                            <div class="group-box">
                              <div class="arrival"><p>Hàn Quốc (PUS)</p></div>
                              <div class="duration"><p>04 ngày, 03 đêm</p></div>
                            </div>                        
                            <div class="price"><p>3.840.000 vnđ</p></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>                                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- .section-cheap-flight -->
  <section class="section section-blog">
    <div class="container">
      <div class="blog content">
        <h2 class="ttl-com"><span>Blog</span> về các chuyến du lịch</h2>
        <ul class="blog-list">
          <li class="blog-list-item">
            <div class="thumb">
              <img src="public/images/components/blog/img-blog01.png" alt="">
            </div>
            <div class="info">
              <h3 class="ttl"><a href="#">Ngôi chùa pagoda Avalokitesvara pagoda pagoda pagoda pagoda pagoda pagoda</a></h3>
              <p class="country">Indonesia</p>
              <p class="des">Chúng tôi được tạo ra với sự chú trọng hướng tới nhu cầu của các nhà thiết kế web, quản trị viên web và nhà tiếp thị nội dung nội dung nội dung nội dung nội dung nội dung nội dung nội dung</p>
            </div>
          </li>
          <li class="blog-list-item">
            <div class="thumb">
              <img src="public/images/components/blog/img-blog02.png" alt="">
            </div>
            <div class="info">
              <h3 class="ttl"><a href="#">Ngắm thành phố Nagasaki từ trên từ trên từ trên từ trên từ trên từ trên từ trên từ trên từ trên</a></h3>
              <p class="country">Japan</p>
              <p class="des">Nagasaki, một trong những tỉnh có hải cảng đẹp của thế giới nên việc ngắm nơi này từ trên cao là một điều thú vị không thể thú vị không thể thú vị không thể thú vị không thể thú vị không thể thú vị không thể thú vị không thể</p>
            </div>
          </li>
          <li class="blog-list-item">
            <div class="thumb">
              <img src="public/images/components/blog/img-blog03.png" alt="">
            </div>
            <div class="info">
              <h3 class="ttl"><a href="#">Châu Ký du lịch: Venice thành phố thành phố thành phố thành phố thành phố thành phố thành phố thành phố thành phố </a></h3>
              <p class="country">Italia</p>
              <p class="des">Sau hơn một năm sống ở nước Ý, mình đã đến thăm khoảng hơn 20 thành phố lớn nhỏ khắp mọi ngóc ngách của đất nước đất nước đất nước đất nước đất nước đất nước đất nước đất nước đất nước</p>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </section><!-- .section-blog -->
  <section class="section section-news">
    <div class="container">
      <div class="news">
        <h2 class="ttl-com"><span>Tin tức</span> nổi bật</h2>
        <ul class="news-list">
          <li class="news-list-item">
            <div class="thumb-logo">
              <img src="public/images/components/news/ic_logo_vietjet.png" alt="">
            </div>
            <div class="info">
              <p class="date">10/04</p>
              <a href="#" class="ttl">Khai báo gian dối có thể sẽ bị xử phạt đến 10 triệu ty dong</a>
            </div>
          </li>
          <li class="news-list-item">
            <div class="thumb-logo">
              <img src="public/images/components/news/ic_logo_vietnam_airlines.png" alt="">
            </div>
            <div class="info">
              <p class="date">13/04</p>
              <a href="#" class="ttl">3 hãng hàng không Việt Nam phục hồi đường bay bay bay bay bay</a>
            </div>
          </li>
          <li class="news-list-item">
            <div class="thumb-logo">
              <img src="public/images/components/news/ic_logo_jetstar.png" alt="">
            </div>
            <div class="info">
              <p class="date">15/04</p>
              <a href="#" class="ttl">Cân nhắc việc dừng cách ly xã hội nếu không có ly ly ly ly ly  ly</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section><!-- .section-news -->
</main><!-- /#main -->

<footer class="footer">
  <div class="container">
    <div class="inner">
      <div class="logo"><img src="public/images/common/logo.png" alt=""></div>
      <ul class="sns">
        <li><a href="#"><img src="public/images/common/ic_twitter.png" alt=""></a></li>
        <li><a href="#"><img src="public/images/common/ic_fb.png" alt=""></a></li>
        <li><a href="#"><img src="public/images/common/ic_telegram.png" alt=""></a></li>
        <li><a href="#"><img src="public/images/common/ic_insta.png" alt=""></a></li>
        <li><a href="#"><img src="public/images/common/ic_youtube.png" alt=""></a></li>
      </ul>
      <p class="copyright">© 2006-2020 E-Tours, Ltd</p>
    </div>
  </div>  
</footer><!-- /#footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="public/js/components/cheap-flight.js"></script>
<script src="public/js/components/search-box.js"></script>
<script src="public/js/slick/slick.js"></script>
<script src="public/js/common.js"></script>

</body>
</html>
