.section-cheap-flight {
    .cheap-flight {
        .search {
            display: flex;
            margin-bottom: setByVW(20);
            .dep-date {
                width: 50%;
                margin: 0 setByVW(10);
                p {
                    font-family: $font_source_sans_pro;
                    @include font-size-vw(15);
                    margin-bottom: setByVW(5);
                }
                .input {
                    width: 100%;
                    background-image: url('../../images/common/ic_datepicker.png');
                    background-repeat: no-repeat;
                    background-position: left;
                    background-position-x: setByVW(10);
                }
            }
            .departure {
                width: 50%;
                margin: 0 setByVW(10);
                p {
                    font-family: $font_source_sans_pro;
                    @include font-size-vw(15);
                    margin-bottom: setByVW(5);
                }
                .input {
                    width: 100%;
                    background-image: url('../../images/common/ic_arrow_down.png');
                    background-repeat: no-repeat;
                    background-position: right setByVW(10) center;
                }
            }
        }
        &-tab-list {
            display: flex;
            margin: 0 setByVW(8);
            &-item {
                flex: 1;
                width: 25%;
                position: relative;
                a {
                    color: #A2A2A2;
                    background-color: #F5F5F5;
                    border-top-right-radius: setByVW(40);
                    font-family: $font_source_sans_pro;
                    border: none;
                    background: #ccc;
                    text-align: center;
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 4px;
                        width: 50%;
                        height: 100%;
                        background-color: #ccc;
                        transform: skew(15deg);
                        border-top-right-radius: 5px;
                    }
                    
                    &.active {
                        color: #fff;
                        background-color: #44C7B3;
                        font-weight: bold;
                        &::after {
                            background-color: #44C7B3;
                        }
                    }
                }
            }
        }
        .tab-content {
            .inner {
                border-radius: setByVW(10);
                overflow: hidden;
                border: 1px solid #44C7B3;
                table {
                    width: 100%;
                    tbody {
                        tr {
                            td {
                                border-right: 1px solid #44C7B3;
                                border-bottom: 1px solid #44C7B3;
                                padding: setByVW(5) setByVW(10);
                                &:last-child {
                                    border-right: none;
                                }
                                .arrival {
                                    line-height: 1.4em;
                                }
                                .duration {
                                    line-height: 1.4em;
                                    margin: setByVW(4) 0;
                                }
                                .price {
                                    @include font-size-vw(15);
                                    color: #FF883E;
                                    font-weight: bold;
                                    line-height: 1.35em;
                                }
                            }
                            border-bottom: none;
                            &:last-child {
                                td {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}