.section-news {
    .news {
        &-list {
            &-item {
                display: flex;
                margin-bottom: 10px;
                .thumb-logo {                    
                    img {
                        width: 80px;
                    }
                }
                .info {
                    padding: 0 10px;
                    .date {
                        font-size: 12px;;
                        line-height: 1;
                    }
                    .ttl {
                        @include dot-line(1);
                        line-height: 1.3em;
                        text-decoration: underline;
                        color: #0A00FF;
                    }
                }
            }
        }
        @include screen ($sp-large) {
            &-list {
                &-item {
                    margin-bottom: setByVW(10);
                    .thumb-logo {        
                        flex: 0 0 setByVW(60);
                        width: setByVW(60);            
                        img {
                            width: 100%;
                        }
                    }
                    .info {
                        padding: 0 setByVW(10);
                        .date {
                            @include font-size-vw(12);
                        }
                        .ttl {
                            @include font-size-vw(14);
                        }
                    }
                }
            }
        }
    }
}