// Define your schemes with a name and colors
$dom-air: dom-air #e6fffb #44c7b3;
$dom-hotel: dom-hotel #ece6ff #8644C7;
$oversea-air: oversea-air #fff7e6 #FF8B03;
$oversea-hotel: oversea-hotel #e6ffe9 #22CE56;

// Here are your color schemes
$etour-schemes: $dom-air $dom-hotel $oversea-air $oversea-hotel;
.section-search {
    .etour-search {
        .search-type {
            padding: 20px 23px;
            margin-bottom: 20px;
            border: 1px solid #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 7px -2px rgba(#000,0.26);
            @include screen ($sp-large) {
              padding: setByVW(20) setByVW(23);
              margin-bottom: setByVW(20);
              border: 1px solid #fff;
              border-radius: setByVW(10);            
            }
            @each $etour-scheme in $etour-schemes {
              &-tab-list {
                display: flex;
                &-item {                
                  flex: 1;
                  margin: 0 5px;                
                  a.#{nth($etour-scheme, 1)} {
                    display: block;
                    position: relative;                        
                    .inner {
                      border-radius: 10px;
                      text-align: center;
                      background-color: #{nth($etour-scheme, 2)};
                      padding: 8px 6px 13px;
                      .icon {
                        img {
                            width: 35px;
                        }
                      }
                      p {
                        text-decoration: none;
                        color: #24253d;
                        font-family: $font_source_sans_pro;
                        font-size: 13px;
                        line-height: 1.15em;
                      }
                    }
                    &.active {
                      .inner {
                        border: 1px solid #{nth($etour-scheme, 3)};
                      }
                      &::after {    
                        content: "";
                        border-color: #{nth($etour-scheme, 3)} transparent;
                        border-style: solid;
                        border-width: 15px 15px 0 15px;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -36px;
                        position: absolute;
                      }
                    }                    
                  }                  
                }
                
                @include screen ($sp-large) {
                  margin-left: setByVW(-5);
                  margin-right: setByVW(-5);
                  &-item {                                        
                    margin: 0 setByVW(5);
                    a.#{nth($etour-scheme, 1)} {                      
                      .inner {
                        border-radius: setByVW(10);
                        padding: setByVW(8) setByVW(7) setByVW(13);
                        .icon {
                          img {
                              width: setByVW(35);
                          }
                        }
                        p {
                          @include font-size-vw(13);
                          margin-top: setByVW(3);
                        }
                      }
                      &.active {
                        &::after {    
                          border-width: setByVW(15) setByVW(15) 0 setByVW(15);
                          bottom: setByVW(-36);
                        }
                      }
                    }
                  }
                }
              }
            }
            
        }
        .etour-search-form {
          padding: 10px;          
          border-radius: 10px;
          box-shadow: 0px 0px 7px -2px rgba(#000,0.26);
          display: flex;
          flex-wrap: wrap;
          @include screen ($sp-large) {
            padding: setByVW(10);
            border-radius: setByVW(10);
            box-shadow: 0px 0px setByVW(7) -2px rgba(0,0,0,0.26);
          }

          @each $etour-scheme in $etour-schemes {
            &.#{nth($etour-scheme, 1)} {
              border: 1px solid #{nth($etour-scheme, 3)};
              .etour-btn {
                background-image: linear-gradient(to left, #{nth($etour-scheme, 2)}, #{nth($etour-scheme, 3)});
              }
            }
          }
          .form-group {
            .icon-has {
              background-repeat: no-repeat, no-repeat;
              background-position: 10px;              
            }
            .input {              
              width: 100%;
              &.departure {
                background-image: url(#{$path_images_common}/ic_flight_departure.png), url(#{$path_images_common}/ic_arrow_up_down.png);                
                background-position: 10px, right 10px center;
                background-size: 20px, 44px;
              }
              &.arrival {
                background-image: url(#{$path_images_common}/ic_flight_arrival.png);
                background-size: 19px;
              }
              &.dep-date {
                background-image: url(#{$path_images_common}/ic_datepicker.png);
                background-size: 18px;
              }
              &.arr-date {
                background-image: url(#{$path_images_common}/ic_datepicker.png);
                background-size: 18px;
              }
              &.passengers {
                background-image: url(#{$path_images_common}/ic_passenger.png);
                background-size: 19px;
              }
              &.seat-type {
                background-image: url(#{$path_images_common}/ic_seat_type.png), url(#{$path_images_common}/ic_arrow_down.png);
                background-position: 10px, right 10px center;
                background-size: 16px, 10px;
              }
            }
            @include screen ($sp-large) {
              .icon-has {
                background-repeat: no-repeat, no-repeat;
                background-position: setByVW(10);              
              }
              .input {              
                &.departure {                
                  background-position: setByVW(10), right setByVW(10) center;
                  background-size: setByVW(20), setByVW(44);
                }
                &.arrival {
                  background-size: setByVW(19);
                }
                &.dep-date {                  
                  background-size: setByVW(18);
                }
                &.arr-date {                
                  background-size: setByVW(18);
                }
                &.passengers {                  
                  background-size: setByVW(19);
                }
                &.seat-type {                  
                  background-position: setByVW(10), right setByVW(10) center;
                  background-size: setByVW(16), setByVW(10);
                }
              }
            }
          }

          .inner {
              display: flex;
          }
        }
    }
}