.section-search {
    .search {
        .search-type {
            padding: setByVW(15) setByVW(18);
            margin-bottom: setByVW(20);
            border: 1px solid #fff;
            border-radius: setByVW(10);
            box-shadow: 0px 0px setByVW(7) -2px rgba(0,0,0,0.26);
            &-tab-list {
                display: flex;
                &-item {
                    border-radius: setByVW(10);
                    flex: 1;
                    margin: setByVW(5);
                    text-align: center;
                    overflow: hidden;
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                        &.active {
                            &::after {    
                                content: "";
                                border-color: black transparent;
                                border-style: solid;
                                border-width: setByVW(15) setByVW(15) 0 setByVW(15);
                                width: setByVW(15);
                                height: setByVW(15);
                                margin-top: 21px;
                                margin-left: -14px;
                                position: absolute;
                            }
                        }
                        &.dom-air {
                            &.active {
                                &::after {
                                    border-color: #44C7B3 transparent;
                                }
                            }
                            .inner {
                                background-color: #e6fffb;
                                width: 100%;
                                height: 100%;
                                padding: setByVW(8) setByVW(7) setByVW(13);
                                .icon {
                                    img {
                                        width: setByVW(32);
                                        height: setByVW(32);
                                    }
                                }
                            }
                        }
                        &.dom-hotel {
                            &.active {
                                &::after {
                                    border-color: #8644C7 transparent;
                                }
                            }
                            .inner {
                                background-color: #ece6ff;
                                padding: setByVW(10);
                                width: 100%;
                                height: 100%;
                                padding: setByVW(17) setByVW(8) setByVW(12);
                                .icon {
                                    img {
                                        width: setByVW(25);
                                        height: setByVW(19);
                                    }
                                }
                                p {
                                    margin-top: setByVW(4);
                                }
                            }
                        }
                        &.oversea-air {
                            &.active {
                                &::after {
                                    border-color: #FF8B03 transparent;
                                }
                            }
                            .inner {
                                background-color: #fff7e6;
                                padding: setByVW(10);
                                width: 100%;
                                height: 100%;
                                padding: setByVW(8) setByVW(7) setByVW(13);
                                .icon {
                                    img {
                                        width: setByVW(35);
                                        height: setByVW(32);
                                    }
                                }
                            }
                        }
                        &.oversea-hotel {
                            &.active {
                                &::after {
                                    border-color: #22CE56 transparent;
                                }
                            }
                            .inner {
                                background-color: #e6ffe9;
                                padding: setByVW(10);
                                width: 100%;
                                height: 100%;
                                padding: setByVW(11) setByVW(9) setByVW(12);
                                .icon {
                                    img {
                                        width: setByVW(35);
                                        height: setByVW(26);
                                    }
                                }
                                p {
                                    margin-top: setByVW(3);
                                }
                            }
                        }
                    }
                    p {
                        text-decoration: none;
                        color: #24253d;
                        font-family: $font_source_sans_pro;
                        @include font-size-vw(13);
                    }
                }
            }
        }
        .tab-content {
            .content {
                padding: setByVW(10);
                border: 1px solid #44C7B3;
                border-radius: setByVW(10);
                box-shadow: 0px 0px setByVW(7) -2px rgba(0,0,0,0.26);
                display: flex;
                flex-wrap: wrap;
                .input {
                    @include font-size-vw(17);
                    line-height: 1.35em;
                }
                .departure {
                    width: 100%;
                    background-image: url(#{$path_images_common}/ic_flight_departure.png), url(#{$path_images_common}/ic_arrow_up_down.png);
                    background-repeat: no-repeat, no-repeat;
                    background-position: setByVW(10), right setByVW(10) center;
                    background-size: setByVW(20) setByVW(17), contain;
                }
                .arrival {
                    width: 100%;
                    background-image: url(#{$path_images_common}/ic_flight_arrival.png);
                    background-repeat: no-repeat;
                    background-position: setByVW(10);
                    background-size: setByVW(19) setByVW(19);
                }
                .inner {
                    display: flex;
                    .dep-date {
                        width: 50%;
                        background-image: url(#{$path_images_common}/ic_datepicker.png);
                        background-repeat: no-repeat;
                        background-position: setByVW(10);
                        background-size: setByVW(18) setByVW(20);
                        margin-right: setByVW(10);
                    }
                    .arr-date {
                        width: 50%;
                        background-image: url(#{$path_images_common}/ic_datepicker.png);
                        background-repeat: no-repeat;
                        background-position: setByVW(10);
                        background-size: setByVW(18) setByVW(20);
                        margin-left: setByVW(10);
                    }
                    .passengers {
                        width: 50%;
                        background-image: url(#{$path_images_common}/ic_passenger.png);
                        background-repeat: no-repeat;
                        background-position: setByVW(10);
                        background-size: setByVW(19) setByVW(14);
                        margin-right: setByVW(10);
                    }
                    .seat-type {
                        width: 50%;
                        background-image: url(#{$path_images_common}/ic_seat_type.png), url(#{$path_images_common}/ic_arrow_down.png);
                        background-repeat: no-repeat, no-repeat;
                        background-position: setByVW(10), right setByVW(10) center;
                        background-size: setByVW(16) setByVW(20), setByVW(10) setByVW(6);
                        margin-left: setByVW(10);
                    }
                }
            }
            #tabSearchDomAir {
                .content {
                    border: 1px solid #44C7B3;
                }
            }
        }
    }
}