@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
.section-blog .blog-list-item {
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15);
  background: white;
  position: relative;
}
.section-blog .blog-list-item .thumb {
  flex-grow: 1;
  flex: 0 0 23%;
}
.section-blog .blog-list-item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-blog .blog-list-item .info {
  flex-grow: 3;
  padding: 10px;
}
.section-blog .blog-list-item .info .ttl a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  cursor: pointer;
}
.section-blog .blog-list-item .info .ttl a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.section-blog .blog-list-item .info .country {
  padding: 2px 0;
  color: #29BEA7;
  font-family: "Poppins", sans-serif;
  line-height: 1.45em;
  font-size: 12px;
}
.section-blog .blog-list-item .info .des {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-right: 20px;
  line-height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .section-blog .blog-list-item {
    margin-bottom: 2.4390243902vw;
    border-radius: 2.4390243902vw;
  }
  .section-blog .blog-list-item .thumb {
    flex: 0 0 24.3902439024vw;
  }
  .section-blog .blog-list-item .info {
    padding: 2.4390243902vw;
  }
  .section-blog .blog-list-item .info .country {
    padding: 0.487804878vw 0;
    font-size: 2.9268292683vw;
  }
  .section-blog .blog-list-item .info .des {
    font-size: 2.9268292683vw;
    padding-right: 4.8780487805vw;
  }
}

.section-news .news-list-item {
  display: flex;
  margin-bottom: 10px;
}
.section-news .news-list-item .thumb-logo img {
  width: 80px;
}
.section-news .news-list-item .info {
  padding: 0 10px;
}
.section-news .news-list-item .info .date {
  font-size: 12px;
  line-height: 1;
}
.section-news .news-list-item .info .ttl {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  text-decoration: underline;
  color: #0A00FF;
}
@media screen and (max-width: 767px) {
  .section-news .news-list-item {
    margin-bottom: 2.4390243902vw;
  }
  .section-news .news-list-item .thumb-logo {
    flex: 0 0 14.6341463415vw;
    width: 14.6341463415vw;
  }
  .section-news .news-list-item .thumb-logo img {
    width: 100%;
  }
  .section-news .news-list-item .info {
    padding: 0 2.4390243902vw;
  }
  .section-news .news-list-item .info .date {
    font-size: 2.9268292683vw;
  }
  .section-news .news-list-item .info .ttl {
    font-size: 3.4146341463vw;
  }
}

.section-cheap-flight .cheap-flight .search {
  display: flex;
  margin-bottom: 4.8780487805vw;
}
.section-cheap-flight .cheap-flight .search .dep-date {
  width: 50%;
  margin: 0 2.4390243902vw;
}
.section-cheap-flight .cheap-flight .search .dep-date p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.6585365854vw;
  margin-bottom: 1.2195121951vw;
  font-weight: bold;
}
.section-cheap-flight .cheap-flight .search .dep-date .input {
  width: 100%;
  background-image: url("../../images/common/ic_datepicker.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 2.4390243902vw;
}
.section-cheap-flight .cheap-flight .search .departure {
  width: 50%;
  margin: 0 2.4390243902vw;
}
.section-cheap-flight .cheap-flight .search .departure p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.6585365854vw;
  margin-bottom: 1.2195121951vw;
  font-weight: bold;
}
.section-cheap-flight .cheap-flight .search .departure .input {
  width: 100%;
  background-image: url("../../images/common/ic_arrow_down.png");
  background-repeat: no-repeat;
  background-position: right 2.4390243902vw center;
}
.section-cheap-flight .cheap-flight-tab-list {
  display: flex;
  margin: 0 1.9512195122vw;
}
.section-cheap-flight .cheap-flight-tab-list-item {
  flex: 0 0 24%;
  width: 25%;
  margin-right: 2px;
  position: relative;
}
.section-cheap-flight .cheap-flight-tab-list-item a {
  border-top-right-radius: 40px;
  border-top-left-radius: 8px;
  position: relative;
  z-index: 1;
  background-color: #efeeee;
  padding: 7px 7px;
  height: 100%;
  display: flex;
  align-items: center;
}
.section-cheap-flight .cheap-flight-tab-list-item a span {
  color: #A2A2A2;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  text-align: center;
  position: relative;
  z-index: 9;
}
.section-cheap-flight .cheap-flight-tab-list-item a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  width: 50%;
  height: 100%;
  background-color: #efeeee;
  transform: skew(15deg);
  border-top-right-radius: 5px;
}
.section-cheap-flight .cheap-flight-tab-list-item a.active {
  background-color: #44C7B3;
  position: relative;
  z-index: 9;
}
.section-cheap-flight .cheap-flight-tab-list-item a.active span {
  color: #fff;
  font-weight: bold;
}
.section-cheap-flight .cheap-flight-tab-list-item a.active::after {
  background-color: #44C7B3;
}
@media screen and (max-width: 767px) {
  .section-cheap-flight .cheap-flight-tab-list {
    margin: 0 1.9512195122vw;
  }
  .section-cheap-flight .cheap-flight-tab-list-item a {
    border-top-right-radius: 9.756097561vw;
    padding: 1.7073170732vw 1.7073170732vw;
    font-size: 3.4146341463vw;
  }
}
.section-cheap-flight .cheap-flight .tab-content .inner {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #44C7B3;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .section-cheap-flight .cheap-flight .tab-content .inner {
    border-radius: 2.4390243902vw;
  }
}
.section-cheap-flight .cheap-flight .tab-content .inner table {
  width: 100%;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr {
  border-bottom: none;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr:last-child td {
  border-bottom: none;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td {
  border-right: 1px solid #44C7B3;
  border-bottom: 1px solid #44C7B3;
  padding: 8px 10px;
  line-height: 1.6em;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td:last-child {
  border-right: none;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box {
  position: relative;
  padding-left: 20px;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box::before {
  content: "";
  height: 48%;
  border-left: 0.17rem dashed #ccc;
  position: absolute;
  left: 7px;
  top: 17px;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .arrival {
  position: relative;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .arrival::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 6px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 7px solid #44c7b3;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .duration {
  margin: 4px 0;
  position: relative;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .duration::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 7px solid #6452e2;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .price {
  display: flex;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .price::before {
  content: "";
  background: url(../../images/common/ic_price.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px;
  margin-right: 4px;
}
.section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .price p {
  font-size: 15px;
  color: #FF883E;
  font-weight: bold;
  line-height: 1.35em;
}
@media screen and (max-width: 767px) {
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td {
    padding: 1.2195121951vw 2.4390243902vw;
    line-height: 5.3658536585vw;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td:last-child {
    border-right: none;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box {
    padding-left: 4.8780487805vw;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box::before {
    height: 48%;
    left: 1.9512195122vw;
    top: 4.1463414634vw;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .arrival::before {
    left: -3.9024390244vw;
    top: 1.4634146341vw;
    border-left: 1.0975609756vw solid transparent;
    border-right: 1.0975609756vw solid transparent;
    border-bottom: 1.7073170732vw solid #44c7b3;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .arrival p {
    font-size: 3.4146341463vw;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .duration {
    margin: 0.9756097561vw 0;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .duration::before {
    left: -3.9024390244vw;
    top: 1.9512195122vw;
    border-left: 1.0975609756vw solid transparent;
    border-right: 1.0975609756vw solid transparent;
    border-top: 1.7073170732vw solid #6452e2;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .group-box .duration p {
    font-size: 3.4146341463vw;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .price::before {
    width: 3.9024390244vw;
    height: 3.9024390244vw;
    background-size: 3.9024390244vw;
    margin-right: 0.9756097561vw;
  }
  .section-cheap-flight .cheap-flight .tab-content .inner table tbody tr td .price p {
    font-size: 3.6585365854vw;
  }
}
.section-cheap-flight .cheap-flight-slider .slick-prev {
  left: 5px;
}
.section-cheap-flight .cheap-flight-slider .slick-next {
  right: 27px;
}

.section-search .search .search-type {
  padding: 3.6585365854vw 4.3902439024vw;
  margin-bottom: 4.8780487805vw;
  border: 1px solid #fff;
  border-radius: 2.4390243902vw;
  box-shadow: 0px 0px 1.7073170732vw -2px rgba(0, 0, 0, 0.26);
}
.section-search .search .search-type-tab-list {
  display: flex;
}
.section-search .search .search-type-tab-list-item {
  border-radius: 2.4390243902vw;
  flex: 1;
  margin: 1.2195121951vw;
  text-align: center;
  overflow: hidden;
}
.section-search .search .search-type-tab-list-item a:hover {
  text-decoration: none;
}
.section-search .search .search-type-tab-list-item a.active::after {
  content: "";
  border-color: black transparent;
  border-style: solid;
  border-width: 3.6585365854vw 3.6585365854vw 0 3.6585365854vw;
  width: 3.6585365854vw;
  height: 3.6585365854vw;
  margin-top: 21px;
  margin-left: -14px;
  position: absolute;
}
.section-search .search .search-type-tab-list-item a.dom-air.active::after {
  border-color: #44C7B3 transparent;
}
.section-search .search .search-type-tab-list-item a.dom-air .inner {
  background-color: #e6fffb;
  width: 100%;
  height: 100%;
  padding: 1.9512195122vw 1.7073170732vw 3.1707317073vw;
}
.section-search .search .search-type-tab-list-item a.dom-air .inner .icon img {
  width: 7.8048780488vw;
  height: 7.8048780488vw;
}
.section-search .search .search-type-tab-list-item a.dom-hotel.active::after {
  border-color: #8644C7 transparent;
}
.section-search .search .search-type-tab-list-item a.dom-hotel .inner {
  background-color: #ece6ff;
  padding: 2.4390243902vw;
  width: 100%;
  height: 100%;
  padding: 4.1463414634vw 1.9512195122vw 2.9268292683vw;
}
.section-search .search .search-type-tab-list-item a.dom-hotel .inner .icon img {
  width: 6.0975609756vw;
  height: 4.6341463415vw;
}
.section-search .search .search-type-tab-list-item a.dom-hotel .inner p {
  margin-top: 0.9756097561vw;
}
.section-search .search .search-type-tab-list-item a.oversea-air.active::after {
  border-color: #FF8B03 transparent;
}
.section-search .search .search-type-tab-list-item a.oversea-air .inner {
  background-color: #fff7e6;
  padding: 2.4390243902vw;
  width: 100%;
  height: 100%;
  padding: 1.9512195122vw 1.7073170732vw 3.1707317073vw;
}
.section-search .search .search-type-tab-list-item a.oversea-air .inner .icon img {
  width: 8.5365853659vw;
  height: 7.8048780488vw;
}
.section-search .search .search-type-tab-list-item a.oversea-hotel.active::after {
  border-color: #22CE56 transparent;
}
.section-search .search .search-type-tab-list-item a.oversea-hotel .inner {
  background-color: #e6ffe9;
  padding: 2.4390243902vw;
  width: 100%;
  height: 100%;
  padding: 2.6829268293vw 2.1951219512vw 2.9268292683vw;
}
.section-search .search .search-type-tab-list-item a.oversea-hotel .inner .icon img {
  width: 8.5365853659vw;
  height: 6.3414634146vw;
}
.section-search .search .search-type-tab-list-item a.oversea-hotel .inner p {
  margin-top: 0.7317073171vw;
}
.section-search .search .search-type-tab-list-item p {
  text-decoration: none;
  color: #24253d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.1707317073vw;
}
.section-search .search .content {
  padding: 2.4390243902vw;
  border: 1px solid #44C7B3;
  border-radius: 2.4390243902vw;
  box-shadow: 0px 0px 1.7073170732vw -2px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-wrap: wrap;
}
.section-search .search .content .input {
  font-size: 4.1463414634vw;
  line-height: 1.35em;
}
.section-search .search .content .departure {
  width: 100%;
  background-image: url("../../images/common/ic_flight_departure.png"), url("../../images/common/ic_arrow_up_down.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 2.4390243902vw, right 2.4390243902vw center;
  background-size: 4.8780487805vw 4.1463414634vw, contain;
}
.section-search .search .content .arrival {
  width: 100%;
  background-image: url("../../images/common/ic_flight_arrival.png");
  background-repeat: no-repeat;
  background-position: 2.4390243902vw;
  background-size: 4.6341463415vw 4.6341463415vw;
}
.section-search .search .content .inner {
  display: flex;
}
.section-search .search .content .inner .dep-date {
  width: 50%;
  background-image: url("../../images/common/ic_datepicker.png");
  background-repeat: no-repeat;
  background-position: 2.4390243902vw;
  background-size: 4.3902439024vw 4.8780487805vw;
  margin-right: 2.4390243902vw;
}
.section-search .search .content .inner .arr-date {
  width: 50%;
  background-image: url("../../images/common/ic_datepicker.png");
  background-repeat: no-repeat;
  background-position: 2.4390243902vw;
  background-size: 4.3902439024vw 4.8780487805vw;
  margin-left: 2.4390243902vw;
}
.section-search .search .content .inner .passengers {
  width: 50%;
  background-image: url("../../images/common/ic_passenger.png");
  background-repeat: no-repeat;
  background-position: 2.4390243902vw;
  background-size: 4.6341463415vw 3.4146341463vw;
  margin-right: 2.4390243902vw;
}
.section-search .search .content .inner .seat-type {
  width: 50%;
  background-image: url("../../images/common/ic_seat_type.png"), url("../../images/common/ic_arrow_down.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 2.4390243902vw, right 2.4390243902vw center;
  background-size: 3.9024390244vw 4.8780487805vw, 2.4390243902vw 1.4634146341vw;
  margin-left: 2.4390243902vw;
}

.section-supplier .supplier-list {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.section-supplier .supplier-list-item {
  padding: 12px 10px;
}
.section-supplier .supplier-list-item .box {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(118, 118, 118, 0.2);
  background-color: #ffffff;
  padding: 0 10px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-supplier .supplier-list-item .box .thumb {
  width: 120px;
}
.section-supplier .supplier-list-item .box .thumb img {
  width: 100%;
}
.section-supplier .supplier-list-item .box .des {
  color: #0f0a0a;
  line-height: 1.2em;
  text-align: center;
}
.section-supplier .supplier-slider .slick-prev:before, .section-supplier .supplier-slider .slick-next:before {
  padding: 8px;
}
.section-supplier .supplier-slider .slick-prev {
  left: 5px;
}
.section-supplier .supplier-slider .slick-next {
  right: 25px;
}

.main-visual {
  padding: 50px 0 0;
}
.main-visual img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main-visual {
    padding: 12.1951219512vw 0 0;
  }
}

/* lastest_works
---------------------------- */
.lastest_works {
  background-color: #f9f9f9;
}
@media screen and (max-width: 767px) {
  .lastest_works .tab_nav_select {
    padding: 0 9.756097561vw;
    margin-top: 8.5365853659vw;
  }
  .lastest_works .tab_nav_select select {
    width: 100%;
    height: 21.9512195122vw;
    padding: 0 4.8780487805vw 0 10.7317073171vw;
    font-size: 5.8536585366vw;
    font-weight: bold;
    letter-spacing: 1.1707317073vw;
    color: #595758;
    border: solid 0.7317073171vw #555654;
    background: url(../../images/top/arrow.png) no-repeat;
    background-position: right 8.2926829268vw top 50%;
  }
}
.lastest_works .tab_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 auto;
  margin-top: 70px;
}
.lastest_works .tab_nav li .nav-item {
  position: relative;
  padding: 10px 25px;
  color: #555654;
  border: solid 1px #555654;
  border-right: 0;
  text-decoration: none;
  min-width: 155px;
  display: block;
  text-align: center;
  font-weight: 600;
}
.lastest_works .tab_nav li .nav-item.active, .lastest_works .tab_nav li .nav-item:hover, .lastest_works .tab_nav li .nav-item:focus {
  color: #fff;
  transition: all 350ms;
  background-color: #555654;
}
.lastest_works .tab_nav li .nav-item.active:before, .lastest_works .tab_nav li .nav-item:hover:before, .lastest_works .tab_nav li .nav-item:focus:before {
  width: 100%;
}
.lastest_works .tab_nav li:last-child .nav-item {
  border-right: 1px solid #555654;
}
.lastest_works .tab_content .block_item {
  padding: 80px 100px 0;
  position: relative;
}
.lastest_works .tab_content .block_item .alive_btn.btn_detail a {
  border-color: #555654;
  color: #555654;
  margin: 75px auto 0;
}
.lastest_works .tab_content .block_item .alive_btn.btn_detail a:hover {
  background-color: #8fda00;
  border: #8fda00;
  color: #fff;
}
.lastest_works .tab_content .block_item .work_slick {
  width: 100%;
  min-height: calc(100vw / 3 - 350px);
}
.lastest_works .tab_content .block_item .work_slick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lastest_works .tab_content .block_item .work_slick .slick_item {
  margin: 0 11px;
  position: relative;
}
.lastest_works .tab_content .block_item .work_slick .slick_item .work_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  background: rgba(247, 144, 25, 0.8);
  opacity: 0;
  transition: all 350ms ease-in;
  cursor: pointer;
}
.lastest_works .tab_content .block_item .work_slick .slick_item .work_info:hover {
  opacity: 1;
}
.lastest_works .tab_content .block_item .work_slick .slick_item .work_info_txt {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.lastest_works .tab_content .block_item .work_slick .slick_item .work_info_txt span {
  font-size: 20px;
  line-height: 1.4em;
  display: block;
  margin-top: 15px;
}
.lastest_works .tab_content .block_item .work_slick .slick-prev {
  cursor: pointer;
}
.lastest_works .tab_content .block_item .work_slick .slick-prev.slick-arrow {
  position: absolute;
  width: 34px;
  height: 63px;
  top: 50%;
  left: -117px;
  transform: translateX(50%);
  border: none;
  font-size: 0;
  background: url(../../images/top/prev.png) no-repeat center center;
  margin-top: -45px;
}
@media screen and (max-width: 1024px) {
  .lastest_works .tab_content .block_item .work_slick .slick-prev.slick-arrow {
    left: -65px;
  }
}
.lastest_works .tab_content .block_item .work_slick .slick-next {
  cursor: pointer;
}
.lastest_works .tab_content .block_item .work_slick .slick-next.slick-arrow {
  position: absolute;
  width: 34px;
  height: 63px;
  top: 50%;
  right: -85px;
  transform: translateX(50%);
  border: none;
  font-size: 0;
  background: url(../../images/top/next.png) no-repeat center center;
  margin-top: -45px;
}
@media screen and (max-width: 1024px) {
  .lastest_works .tab_content .block_item .work_slick .slick-next.slick-arrow.slick-arrow {
    right: -30px;
  }
}
@media screen and (max-width: 1024px) {
  .lastest_works .tab_content .block_item {
    padding: 50px 60px 0;
  }
  .lastest_works .tab_content .block_item .work_slick {
    min-height: calc(100vw / 3 - 120px);
  }
  .lastest_works .tab_content .block_item .alive_btn.btn_detail a {
    margin-top: 45px;
  }
}
@media screen and (max-width: 767px) {
  .lastest_works .tab_content .block_item {
    padding: 10.9756097561vw 7.3170731707vw 0;
  }
  .lastest_works .tab_content .block_item .work_slick {
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .lastest_works .tab_content .block_item .work_slick .slick_item {
    flex: 0 0 50%;
    width: 50%;
    padding: 0 1.9512195122vw;
    margin: 0 0 13.4146341463vw;
  }
  .lastest_works .tab_content .block_item .work_slick .slick_item .thumb {
    width: 66.5853658537vw;
    height: 61.9512195122vw;
  }
  .lastest_works .tab_content .block_item .work_slick .slick_item .work_info {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 0;
    color: #fff;
    background: none;
    opacity: 1;
    display: block;
  }
  .lastest_works .tab_content .block_item .work_slick .slick_item .work_info_txt {
    font-size: 5.3658536585vw;
    color: #595758;
    letter-spacing: 0.643902439vw;
    text-align: left;
    font-weight: 600;
    margin-top: 6.0975609756vw;
  }
  .lastest_works .tab_content .block_item .work_slick .slick_item .work_info_txt span {
    font-size: 6.8292682927vw;
    letter-spacing: 0.8195121951vw;
    margin-top: 4.6341463415vw;
    line-height: 1;
    font-weight: bold;
  }
  .lastest_works .tab_content .block_item .alive_btn.btn_detail a {
    margin-top: 4.8780487805vw;
  }
}

/* news
---------------------------- */
.news {
  background-color: #fff;
}
.news .grid_img {
  margin-top: 65px;
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}
.news .grid_img .col {
  -ms-flex: 33.33%;
  /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.news .grid_img .col img {
  margin-bottom: 30px;
  vertical-align: middle;
  width: 100%;
}
.news .grid_img .col .grid_img2 {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.news .grid_img .col .grid_img2 .col {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 15px;
}
.news .grid_img .col .grid_img2 .col img {
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .news .grid_img .col {
    padding: 0 10px;
  }
  .news .grid_img .col img {
    margin-bottom: 20px;
  }
  .news .grid_img .col .grid_img2 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .news .grid_img .col .grid_img2 .col {
    padding: 0 10px;
  }
  .news .grid_img .col .grid_img2 .col img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .news .grid_img {
    margin-top: 9.756097561vw;
  }
  .news .grid_img .col {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
  .news .grid_img .col img {
    margin-bottom: 9.756097561vw;
  }
  .news .grid_img .col .grid_img2 {
    margin-left: -4.8780487805vw;
    margin-right: -4.8780487805vw;
  }
  .news .grid_img .col .grid_img2 .col {
    padding: 0 4.8780487805vw;
  }
  .news .grid_img .col .grid_img2 .col img {
    margin-bottom: 9.756097561vw;
  }
}
.news .alive_btn.btn_detail a {
  margin: 45px auto 0;
}
@media screen and (max-width: 1024px) {
  .news .alive_btn.btn_detail a {
    margin-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .news .alive_btn.btn_detail a {
    margin-top: 6.8292682927vw;
  }
}

/* our_blog
---------------------------- */
.our_blog {
  background-color: #f9f9f9;
}
.our_blog .our_blog_list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 65px;
}
.our_blog .our_blog_list .item {
  flex: 0 0 25%;
  width: 25%;
  padding: 0 15px;
}
.our_blog .our_blog_list .item .thumb {
  width: 100%;
  height: 197px;
}
.our_blog .our_blog_list .item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our_blog .our_blog_list .item .type {
  font-weight: 600;
  text-decoration: underline;
  color: #8fda00;
  margin-top: 20px;
  display: block;
}
.our_blog .our_blog_list .item .title {
  font-size: 16px;
  font-weight: 600;
  color: #555654;
  margin-top: 13px;
}
.our_blog .our_blog_list .item .des {
  font-size: 12px;
  color: #555654;
  line-height: 1.75em;
  letter-spacing: 0.9px;
  margin-top: 10px;
  font-weight: 500;
}
.our_blog .our_blog_list .item .more {
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #555654;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 18px;
  transition: all 350ms ease-in;
}
.our_blog .our_blog_list .item .more:hover {
  color: #8fda00;
}
@media screen and (max-width: 1024px) {
  .our_blog .our_blog_list {
    margin-left: 0;
    margin-right: 0;
  }
  .our_blog .our_blog_list .item {
    padding: 0 10px;
  }
  .our_blog .our_blog_list .item .thumb {
    height: 130px;
  }
  .our_blog .our_blog_list .item .type {
    margin-top: 10px;
  }
  .our_blog .our_blog_list .item .des {
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .our_blog .our_blog_list {
    margin-top: 9.756097561vw;
    padding: 0 4.8780487805vw;
  }
  .our_blog .our_blog_list .item {
    flex: 0 0 50%;
    width: 50%;
    margin-bottom: 13.6585365854vw;
    padding: 0 4.8780487805vw;
  }
  .our_blog .our_blog_list .item .thumb {
    width: 63.4146341463vw;
    height: 46.3414634146vw;
  }
  .our_blog .our_blog_list .item .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .our_blog .our_blog_list .item .type {
    font-size: 5.8536585366vw;
    margin-top: 5.8536585366vw;
    letter-spacing: 0.5853658537vw;
  }
  .our_blog .our_blog_list .item .title {
    font-size: 6.3414634146vw;
    margin-top: 4.8780487805vw;
    letter-spacing: 0.6341463415vw;
  }
  .our_blog .our_blog_list .item .des {
    font-size: 4.8780487805vw;
    margin-top: 4.8780487805vw;
    letter-spacing: 0.3658536585vw;
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .our_blog .our_blog_list .item .more {
    font-size: 4.8780487805vw;
    margin-top: 4.8780487805vw;
    letter-spacing: 0.487804878vw;
  }
}
.our_blog .alive_btn.btn_detail a {
  margin: 45px auto 0;
}
@media screen and (max-width: 767px) {
  .our_blog .alive_btn.btn_detail a {
    margin-top: 7.3170731707vw;
  }
}

/* let_work_together
---------------------------- */
.let_work_together {
  background: url(../../images/top/lef_work_together_bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 150px;
}
.let_work_together .txt {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  color: #fff;
}
.let_work_together .alive_btn.btn_detail a {
  border: none;
  background-color: #8fda00;
  color: #fff;
  margin: 45px auto 0;
}
.let_work_together .alive_btn.btn_detail a:hover {
  background-color: #f79019;
}
@media screen and (max-width: 767px) {
  .let_work_together {
    padding: 24.3902439024vw 0 19.512195122vw;
  }
  .let_work_together .txt {
    font-size: 9.756097561vw;
    letter-spacing: 1.9512195122vw;
    line-height: 1.5em;
  }
  .let_work_together .alive_btn.btn_detail a {
    margin-top: 8.5365853659vw;
  }
}

/*# sourceMappingURL=top.css.map */
