
$path_images: '../../public/images/common/';
.footer {
    background-image: linear-gradient(to bottom, #b7f8ee, #6ccebf 88%);
    padding: 25px 30px;
    text-align: center;
    font-size: 10px;
    .inner {
        .logo {
            img {
                width: 40px;
            }
        }
        .sns {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            li {
                margin: 0 20px;
                a {
                    display: block;
                }
            }
        }
        .copyright {
            margin-top: 25px;
            color: #0f0a0a;
            font-size: 12px;
            text-align: center;
        }
    }
    @include screen ($sp-large) {
        padding: setByVW(25) 0 setByVW(30);
        .inner {
            .logo {
                img {
                    width: setByVW(40);
                }
            }
            .sns {
                margin-top: setByVW(25);
                li {
                    margin: 0 setByVW(20);
                }
            }
            .copyright {
                font-size: font-size-vw(12);
                margin-top: setByVW(25);
            }
        }
    }
}