@import "./config/const";
@import "./includes/func";
.section {
    padding: 0 10px;
}

.notice-num {
    position: absolute;
    font-size: 12px;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.41);
    background: rgba(255,250,136,255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ttl-com {
    padding:  0 10px 10px;
    font-size: 18px;;
    line-height: 1.4em;
    span {
        font-weight: bold;
        color: #7CD8C9;
    }
    @include screen ($sp-large) {
        padding:  0 setByVW(10) setByVW(10);
        @include font-size-vw(18);
    }
}
.section {
    margin-bottom: 20px;
    @include screen ($sp-large) {
        margin-bottom: setByVW(20);
    }    
}
.container {
    padding-left: 0;
    padding-right: 0;
}

// Slick button prev, next
/*-----------------*/
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;    
    background: transparent;
    z-index: 99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        border: solid #69d2c2;
        border-style: solid;
        border-width: 0 4px 4px 0;
        padding: 9px;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        content: "";
        outline: none;
    }
    &:hover, &:focus {
        color: transparent;
        outline: none;
        background: transparent;
        &::before {
            opacity: 1;
        }
    }
    &.slick-disabled {
        &::before {
            opacity: .5;
        }
    }
}

.slick-prev {
    left: 15px;
    &:before {
        transform: rotate(135deg)
    }
}
.slick-next {
    right: 35px;
    &:before {        
        transform: rotate(-45deg);
    }
}

.input {
    height: setByVW(50);
    box-shadow: 0px 0px setByVW(7) -2px rgba(0,0,0,0.26);
    border-radius: setByVW(3);
    border: none;
    padding-left: setByVW(35);
    &.without-icon {
        padding-left: setByVW(10);
    }
}
.button {
    margin: setByVW(5) 0;
    width: 100%;
    border-radius: setByVW(100);
    background-color: #21D8BB;
    height: setByVW(55);
    color: #FFF;
    @include font-size-vw(21);
}
.form-group {
    width: 100%;
}